<div class="col-sm-3 col-md-2 sidebar">
  <ul class="nav nav-sidebar">
    <li class="active"><a href="#">Overview <span class="sr-only">(current)</span></a></li>
    <li><a href="#">Add  &nbsp;<i class="glyphicon glyphicon-plus"></i></a></li>
    <li><a href="#">Modify   &nbsp;<i class="glyphicon glyphicon-pencil"></i></a></li>
    <li><a href="#">View  	&nbsp;<i class="glyphicon glyphicon-eye-open"></i></a></li>
    <li><a href="#">Delete 	&nbsp; <i class="glyphicon glyphicon-remove"></i></a></li>
  </ul>
</div>
<functions-insert></functions-insert>
